<h1>Edit</h1>

<form action = <%=update_employee_path(params[:id])%> method = "POST">
    <input type="hidden" value="<%=form_authenticity_token%>" name="authenticity_token">
    <input type="hidden" name="_method" value="PATCH">
    <div>
        <label>First Name: </label>
        <input type="text" name="employee[fname]" value="<%= @employee[:fname]%>">
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" name="employee[lname]" value="<%= @employee[:lname]%>">
    </div>
    <div>
        <label> Hr rate: </label>
        <input type="number" step="0.01" min="19" max="40" name="employee[hrrate]" value="<%= @employee[:hrrate]%>">
    </div>
    <div>
        <label>Email: </label>
        <input type="text" name="employee[email_address]" value="<%= @employee[:email_address]%>">
    </div>
    <div>
        <label>Phone: </label>
        <input type="text" name="employee[phone]" value="<%= @employee[:phone]%>">
    </div>
    <div>
        <label> Card Status: </label>
        <p name="card_status"><%=@employee[:card_status]%></p>
    </div>
    <div>
        <label> Card Value: </label>
        <p name="card_value"><%= @card %></p>
    </div>
    <input type="submit">
</form>

<form action = <%=setcard_path(params[:id])%> method = "POST">
    <input type="hidden" value="<%=form_authenticity_token%>" name="authenticity_token">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="Set RFID">
</form>

<form action = <%=delete_employee_path(params[:id])%> method = "POST">
    <input type="hidden" value="<%=form_authenticity_token%>" name="authenticity_token">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Employee">
</form>