<div class="main_sec">
    <div class="emp_table">
        <p class="FName_col table_labels">First Name</p>
        <p class="LName_col table_labels">Last Name</p>
        <p class="Edit_col table_labels">Actions</p>
    <% @employees.each_with_index{ |emp,ind| %>
        <p class="FName_col" style="grid-row: <%= ind+2%>/<%= ind+3%>"> <%= emp[:fname] %> </p>
        <p class="LName_col" style="grid-row: <%= ind+2%>/<%= ind+3%>"> <%= emp[:lname] %> </p>
        <p class="Edit_col" style="grid-row: <%= ind+2%>/<%= ind+3%>"> <%= link_to "Edit", "/employees/#{emp[:id]}/edit" %> | <%= link_to "View", "/employees/#{emp[:id]}" %></p>
    <% } %>
    </div>
    <%= link_to "New Employee", new_employee_path %>
</div>