<h1>Index - all employees</h1>
<div class="emp_table">
<p class="FName_col table_labels">First Name</p>
    <p class="LName_col table_labels">Last Name</p>
<% @employees.each{ |emp| %>
    <p class="FName_col entry_<%= emp[:id]%>" style="grid-row: <%= emp[:id]+1%>/<%= emp[:id]+2%>;"> <%= emp[:fname] %> </p>
    <p class="LName_col entry_<%= emp[:id]%>" style="grid-row: <%= emp[:id]+1%>/<%= emp[:id]+2%>;"> <%= emp[:lname] %> </p>
    <p class="Edit_col entry_<%= emp[:id]%>" style="grid-row: <%= emp[:id]+1%>/<%= emp[:id]+2%>;"> <%= link_to "Edit", "/employees/#{emp[:id]}/edit" %> | <%= link_to "View", "/employees/#{emp[:id]}" %></p>
<% } %>
</div>
<%= link_to "New Employee", new_employee_path %>